* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
/* Start Header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  background-color: #202020;
}
header .left-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
header .left-section .icon {
  position: relative;
  height: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}
header .left-section .icon span {
  width: 18px;
  height: 1px;
  background-color: #fff;
}
header .left-section img {
  color: #fff;
  font-size: 21px;
  letter-spacing: -2px;
  margin-bottom: -10px;
  margin-left: 20px;
}
header .left-section::after {
  content: "EG";
  position: absolute;
  font-size: 12px;
  color: #706e6e;
  font-weight: bold;
  right: 38px;
  top: 0px;
}
header .mid-section {
  display: flex;
  align-items: center;
  margin-left: -9%;
}
header .mid-section form {
  display: flex;
  height: 40px;
  width: 628px;
}
header .mid-section input {
  width: 100%;
  padding: 12px;
  background-color: #121212;
  color: #fff;
  font-family: "Roboto", "Noto", sans-serif;
  outline: none;
  border: none;
  margin-right: 0.1px;
}
header .mid-section input::placeholder {
  color: #606060;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  font-family: "Roboto", "Noto", sans-serif;
}
header .mid-section input:focus {
  border: 1px solid rgb(11, 123, 175);
}
header .mid-section button {
  width: 75px;
  background-color: #313131;
  color: #fff;
  border: none;
  cursor: pointer;
}
header .mid-section .mic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #181818;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
header .right-section a {
  padding-right: 25px;
  text-decoration: none;
  color: #fff;
}
header .right-section a i {
  font-size: 25px;
}
/* End Header  */

/* Start Content-area */
.content-area {
  height: calc(100vh - 65px);
  display: flex;
  background-color: #181818;
}
/* End Content-area */

/* Start Side Bar  */
aside {
  height: 100%;
  width: 280px;
  box-sizing: #fff;
  overflow-y: auto;
  background-color: #212121;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-right: 15px;
}
nav .nav-link {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: #fff;
}
nav .nav-link:hover {
  background-color: #383838;
}
nav .nav-link span {
  margin-left: 24px;
  font-size: 1.4rem;
  line-height: 2em;
  font-weight: 400;
  color: #fff
}
nav .active {
  background-color: #383838;
}
nav #active-span {
  font-weight: 600;
}
hr {
  background-color: #383838;
  height: 0.1px;
  border: none;
  margin: 10px 0;
}
nav p {
  font-size: 1.4rem;
  color: #aaa;
  font-weight: 500;
  padding: 8px 16px;
  text-transform: uppercase;
}
.channel-img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
/* End Side Bar  */

/* Start Main  */
main {
  width: 100%;
  height: 100%;
  padding: 35px 15px;
  border-top: 1px solid #383838;
  overflow-y: auto;
}
.videos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.video {
  width: 330px;
  margin-bottom: 40px;
  cursor: pointer;
}
.thumbnail {
  width: 100%;
  height: 187px;
  margin-bottom: 12px;
}
.thumbnail img {
  height: 100%;
  width: 100%;
}
.video-details {
  display: flex;
}
.creator-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.title {
  display: flex;
  flex-direction: column;
}
.title a {
  text-decoration: none;
}
.video-title {
  color: #fff;
  font-size: 1.4rem;
  max-width: 278px;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}
.video-creator,
.title span {
  color: #aaa;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.video-creator:hover {
  color: #fff;
}
/* End Main  */
